<form action="http://lebaron.createsend.com/t/t/s/nktulu/" method="post" id="subForm" class="free-fitting">
	<label>
		<input id="fieldEmail" name="cm-nktulu-nktulu" type="email" required placeholder="Enter your email address"/>
	</label>
    <button type="submit" class="button">Free Fitting</button>
</form>


<!--<form action="http://lebaron.createsend.com/t/t/s/nktulu/" method="post" id="subForm">
    <p>
        <label for="fieldEmail">Email</label><br />
        <input id="fieldEmail" name="cm-nktulu-nktulu" type="email" required />
    </p>
    <p>
        <button type="submit">Subscribe</button>
    </p>
</form>-->