---
layout: default
meta_title: Hand Tailored Dress Shirts
meta_description:
meta_keywords:
headine:
navtitle: Shop
navclass: /shop/
permalink: /shop/
navorder: 2
---
<div class="banner dark" style="background-image: url('/images/banners/sew.jpg');">
	<hgroup>
		<h1>Hand Tailored Dress Shirts</h1>
	</hgroup>
	<img src="/images/other/banner-bottom-grey.svg" alt="" class="banner-bottom"/>
</div>

<div class="products">
	<!--<h2>Shirts</h2>-->
	<ul>
		{% for product in site.shirts %}
			{% for item in product.gallery %}
				{% capture imagecount %}{{ forloop.length }}{% endcapture %}
				{% if forloop.last %}
					{% capture primaryimage %}{{ item.image_path }}{% endcapture %}
				{% endif %}
			{% endfor %}
			<li>
				<a href="{{ product.url }}">
					<img src="{{ primaryimage }}" alt="Hand Tailored Dress Shirt" />
					<hgroup>
						<!--<h2>{{ product.brand }}</h2>
						<h1>{{ product.name }}</h1>
						<h3>{{ product.price }}</h3>-->
						<h1>{{ product.brand }} {{ product.color }} {{ product.collar }}</h1>
						<h2>{{ product.price }}</h2>
					</hgroup>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

<!--<div class="products basic">
	<h2>Cuff Links</h2>
	<ul>
		{% for product in site.products %}
			{% for item in product.gallery %}
				{% capture imagecount %}{{ forloop.length }}{% endcapture %}
				{% if forloop.first %}
					{% capture primaryimage %}{{ item.image_path }}{% endcapture %}
				{% endif %}
			{% endfor %}
			<li>
				<a href="{{ product.url }}">
					<img src="{{ primaryimage }}" alt="Hand Tailored Dress Shirt" />
					<hgroup>
						<!--<h2>{{ product.brand }}</h2>
						<h1>{{ product.name }}</h1>
						<h3>{{ product.price }}</h3>--*>
						<h1>{{ product.design }}</h1>
						<h2>{{ product.material }} ::: {{ product.color }}</h2>
						<h3>{{ product.price }}</h3>
					</hgroup>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>-->