---
layout: default
title: Thank You
description: Your about to get more compliments than you can handle
navtitle: thanks
permalink: /thank-you/
---
<div class="banner half">
	<hgroup class="">
		<h1>Awesome!<br />We've got your order</h1>
	</hgroup>
</div>

<h2>Now Lets Get Your Measurements</h2>

<div class="product-options" id="product-options">
	<section>
		<hgroup>
			<h3>2. Enter Your True Measurements</h3>
			<h4>We'll add the proper breathing room</h4>
		</hgroup>
		
		<img src="/images/illustrations/bodymeasurements.png" alt="" />
		
		<form class="sizes measurements">
			<label>
				<span>Sleeves</span>
				<select>
					{% for item in site.data.sleeves %}
					<option value="{{ item.start}}/{{item.end}}">{{ item.start}}/{{item.end}}</option>
					{% endfor %}
				</select>
			</label>
			<label>
				<span>Collar</span>
				<select>
					{% for item in site.data.collar %}
					<option value="{{ item.start}}/{{item.end}}">{{ item.start}}/{{item.end}}</option>
					{% endfor %}
				</select>
			</label>
			<label>
				<span>Chest</span>
				<input type="text" name="chest" id="chest" value="" />
			</label>
			<label>
				<span>Waist</span>
				<input type="text" name="waist" id="waist" value="" />
			</label>
			<label>
				<span>Hips</span>
				<input type="text" name="hips" id="hips" value="" />
			</label>
			<label>
				<span>Bicep</span>
				<input type="text" name="bicep" id="bicep" value="" />
			</label>
		</form>
	</section>
	
	<section>
		<hgroup>
			
		</hgroup>
		
		
		
		<form class="measurements">
			
		</form>
		
		<!--<div class="illustration">
			<div>
				<img src="/images/illustrations/measurements/bicep.png" alt="bicep size"  id="bicep-size" class="size"/>
				<p>Give us your fully flexed measurement on this one.</p>
				<img src="/images/illustrations/measurements/hips.png" alt="hips size" id="hips-size" class="size"/>
				<p>Measure a little bit below your belt, think the widest part of your butt.</p>
				<img src="/images/illustrations/measurements/waist.png" alt="waist size" id="waist-size" class="size"/>
				<p>This will typically be your smallest measurement, just beneath your rib cage. Now is not the time to suck it in.</p>
				<img src="/images/illustrations/measurements/chest.png" alt="chest size" id="chest-size" class="size"/>
				<p>Measure just below your arm pits, keep the tape straight all the way around your back and stop flexing.</p>
				<img src="/images/illustrations/measurements/shirt.png" alt="shirt size" />
			</div>
		</div>-->
	</section>
	<div class="buttons">
		<h2>{{ page.price }}</h2>
		<a href="#"
		    class="snipcart-add-item button red"
		    data-item-id="{{ page.sku }}"
		    data-item-name="{{ page.brand }} {{ page.color }} {{ page.collar }} dress shirt"
		    data-item-price="{{ page.price }}"
		    data-item-weight="1"
		    data-item-url="{{ page.url }}"
		    data-item-description="Hand tailored in the U.S.A"
		    data-item-custom1-name="Sleeves"
		    data-item-custom1-options="	{% for item in site.data.sleeves %}{% if forloop.last == true %}{{ item.start}}/{{item.end}}{% else %}{{ item.start}}/{{item.end}}|{% endif %}{% endfor %}"
		    data-item-custom1-required="true"
		    data-item-custom2-name="Collar"
		    data-item-custom2-options="	{% for item in site.data.collar %}{% if forloop.last == true %}{{ item.start}}/{{item.end}}{% else %}{{ item.start}}/{{item.end}}|{% endif %}{% endfor %}"
		    data-item-custom2-required="true"
		    data-item-custom3-name="Chest"
		    data-item-custom3-required="true"
		    data-item-custom4-name="Waist"
		    data-item-custom4-required="true"
		    data-item-custom5-name="Hips"
		    data-item-custom5-required="true"
		    data-item-custom6-name="Biceps"
		    data-item-custom6-required="true"
		>Add To Cart</a>
	</div>
</div>

<!--<section class="thank-you">
	<h1>Now all you need to do is sit back and wait and/or mail us your shirt(s)</h1>
	
	<!--<p><strong>Congratulations</strong> Your about to start getting more compliments than you know what to do with, but first...</p>--*>
	<!--<h1>You need to mail us your shirt(s)</h1>--*>
	<!--<h2>Congrats! Your order was submitted. Now, all you need to do is...</h2>
	<h1>Mail Us Your Shirt(s)</h1>--*>
	<ul>
		<li>
			<hgroup>
				<h3><span>1</span>Packaging</h3>
				<p>Use an envelope from USPS (or a box if your sending multiple shirts). Don't worry to much about wrinkles, we'll make sure your shirt(s) are pressed and folded when you get them back.</p>
			</hgroup>
			<section>
				<img src="/images/illustrations/shipping/packaging.png" alt="packaging" />
			</section>
		</li>
		<li>
			<hgroup>
				<h3><span>2</span>Order Number</h3>
				<p>Don't forget to include your order number (we need it to identify who the shirt(s) belong to). You can print your receipt and send it with the package or just write it down on a hundred dollar bill. Whatever you do, just remember, unidentified shirts are considered a donation and will be added to our personal closets. ;)</p>
			</hgroup>
			<section class="order-number" id="order-number">See Receipt</section>
		</li>
		<li>
			<hgroup>
				<h3><span>3</span>Mailing Address</h3>
				<p>Be sure to mail your shirts to P.O. Box 2386, Colorado City AZ 86021. We usually have shirts tailored and back on their way to you within 24 hours but that depends on our level of demand. So no guarantees but you'll probably be wearing your new favorite shirt within less than a week of mailing it out.</p>
			</hgroup>
			<section class="mailing-address">
				<p>P.O. Box 2386<br /> Colorado City AZ 86021</p>
			</section>
		</li>
	</ul>
</section>-->

<script type="text/javascript">
	jQuery(document).ready(function() {
		$('#fieldEmail').val(persistentQueryString['email']);
		$('#order-number').html(persistentQueryString['orderid']);
		
		$('input#chest').val(persistentQueryString['ccs-chest-measurement']);
		$('.snipcart-add-item').data('item-custom3-value',persistentQueryString['ccs-chest-measurement']);
		
		$('input#waist').val(persistentQueryString['ccs-waist-measurement']);
		$('.snipcart-add-item').data('item-custom4-value',persistentQueryString['ccs-waist-measurement']);
		
		$('input#hips').val(persistentQueryString['ccs-hips-measurement']);
		$('.snipcart-add-item').data('item-custom5-value',persistentQueryString['ccs-hips-measurement']);
		
		$('input#bicep').val(persistentQueryString['ccs-bicep-measurement']);
		$('.snipcart-add-item').data('item-custom6-value',persistentQueryString['ccs-bicep-measurement']);
		
		
		
		$('#snipcart').data('cart-custom2-value',persistentQueryString['utm-campaign']);
		$('#snipcart').data('cart-custom3-value',persistentQueryString['utm-source']);
		$('#snipcart').data('cart-custom4-value',persistentQueryString['utm-medium']);
		$('#snipcart').data('cart-custom5-value',persistentQueryString['utm-content']);
		$('#snipcart').data('cart-custom6-value',persistentQueryString['utm-term']);
	});
	






	// Sleeves
	$( ".sleeve-size").click(function() {
		var sleeve = $(this).data('size');
		$('.snipcart-add-item').data('item-custom1-value',sleeve);
		$('.sleeve-size.selected').removeClass('selected');
		$(this).addClass('selected');
	});
	
	
	// Collar
	$( ".collar-size").click(function() {
		var collar = $(this).data('size');
		$('.snipcart-add-item').data('item-custom2-value',collar);
		$('.collar-size.selected').removeClass('selected');
		$(this).addClass('selected');
	});
	
	
	
	// chest
	$( "input#chest").change(function() {
	  var chest = $('input#chest').val();
	  $('.snipcart-add-item').data('item-custom3-value',chest);
	  localStorage["ccs-chest-measurement"] = jQuery("input#chest").val();
	});
	
	$( "input#chest" ).focus(function() {
		$('.illustration > div > .visible').removeClass('visible');
		$('#chest-size').addClass('visible');
	});
	
	
	// waist
	$( "input#waist").change(function() {
	  var waist = $('input#waist').val();
	  $('.snipcart-add-item').data('item-custom4-value',waist);
	  localStorage["ccs-waist-measurement"] = jQuery("input#waist").val();
	});
	
	$( "input#waist" ).focus(function() {
		$('.illustration > div > .visible').removeClass('visible');
		$('#waist-size').addClass('visible');
	});
	
	
	// hips
	$( "input#hips").change(function() {
	  var hips = $('input#hips').val();
	  $('.snipcart-add-item').data('item-custom5-value',hips);
	  localStorage["ccs-hips-measurement"] = jQuery("input#hips").val();
	});
	
	$( "input#hips" ).focus(function() {
		$('.illustration > div > .visible').removeClass('visible');
		$('#hips-size').addClass('visible');
	});
	
	
	// bicep
	$( "input#bicep").change(function() {
	  var bicep = $('input#bicep').val();
	  $('.snipcart-add-item').data('item-custom6-value',bicep);
	  localStorage["ccs-bicep-measurement"] = jQuery("input#bicep").val();
	});
	
	$( "input#bicep" ).focus(function() {
		$('.illustration > div > .visible').removeClass('visible');
		$('#bicep-size').addClass('visible');
	});

	
</script>