<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
		
		<!-- load js scripts -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>-->
		<!--<script src="/scripts/main.js"></script>-->
		<!--<script type="text/javascript" src="/scripts/querytolocalstore.js"></script>-->
	</head>
	
	
	<body>
		<script type="text/javascript">
		    adroll_adv_id = "5AKD5HZC7RD4ZFNIQONVK6";
		    adroll_pix_id = "XH6NIELIBVCHLM2RJ4JQGG";
		    // adroll_email = "username@example.com"; // OPTIONAL: provide email to improve user identification
		    (function () {
		        var _onload = function(){
		            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
		            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
		            var scr = document.createElement("script");
		            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
		            scr.setAttribute('async', 'true');
		            scr.type = "text/javascript";
		            scr.src = host + "/j/roundtrip.js";
		            ((document.getElementsByTagName('head') || [null])[0] ||
		                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
		        };
		        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
		        else {window.attachEvent('onload', _onload)}
		    }());
		</script>
		

		<div class="content">
			<div>
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>